.dashboard-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:35px;

}

.dashboard-header h1{

    color:white;

    font-size:34px;

    margin-bottom:8px;

}

.dashboard-header p{

    color:#8ba7c7;

    font-size:18px;

}