.dashboard{

    display:flex;

    flex-direction:column;

    gap:30px;

}

.dashboard-section{

    width:100%;

}

.dashboard-row{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:24px;

}

.dashboard-chart{

    width:100%;

}

.dashboard-ai{

    width:100%;

}

.dashboard-monitor{

    margin-top:15px;

}

.dashboard-infra{

    margin-top:15px;

}

.dashboard-tickets{

    margin-top:15px;

}

@media(max-width:1200px){

    .dashboard-row{

        grid-template-columns:1fr;

    }

}