.ticket-container{

    background:#162D46;

    border:1px solid #214564;

    border-radius:18px;

    padding:25px;

    margin-top:35px;

}

.ticket-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.ticket-header h2{

    color:white;

    margin:0;

}

.new-ticket{

    background:#20c997;

    color:#08161F;

    border:none;

    padding:12px 18px;

    border-radius:10px;

    font-weight:bold;

    cursor:pointer;

}

table{

    width:100%;

    border-collapse:collapse;

}

thead{

    background:#203A59;

}

th{

    color:white;

    padding:16px;

    text-align:left;

}

td{

    color:#D6E3F0;

    padding:16px;

    border-bottom:1px solid #214564;

}

.sla-bar{

    width:90px;

    height:6px;

    background:#223A53;

    border-radius:20px;

    display:inline-block;

    margin-right:10px;

}

.sla-fill{

    height:100%;

    background:#20c997;

    border-radius:20px;

}

.btn-view{

    background:#20c997;

    border:none;

    color:white;

    padding:7px 12px;

    border-radius:7px;

    cursor:pointer;

    margin-right:8px;

}

.btn-edit{

    background:#3B82F6;

    border:none;

    color:white;

    padding:7px 12px;

    border-radius:7px;

    cursor:pointer;

}