.sidebar{

width:250px;

background:#0B1E2D;

display:flex;

flex-direction:column;

padding:20px;

border-right:1px solid #12314B;

}

.logo{

display:flex;

align-items:center;

gap:10px;

font-size:22px;

font-weight:700;

color:#19E3A6;

margin-bottom:50px;

}

nav{

display:flex;

flex-direction:column;

gap:15px;

}

nav button{

background:none;

border:none;

color:white;

display:flex;

gap:15px;

padding:15px;

border-radius:10px;

font-size:16px;

cursor:pointer;

transition:.25s;

}

nav button:hover{

background:#13324D;

}