.sidebar{

    width:250px;

    background:#0B1E2D;

    display:flex;

    flex-direction:column;

    padding:20px;

    border-right:1px solid #12314B;

}

.logo{

    display:flex;

    align-items:center;

    gap:10px;

    font-size:22px;

    font-weight:700;

    color:#19E3A6;

    margin-bottom:50px;

}

nav{

    display:flex;

    flex-direction:column;

    gap:15px;

}

/* ===== Enlaces del menú ===== */

.menu-link{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px;

    border-radius:10px;

    color:white;

    text-decoration:none;

    font-size:16px;

    transition:.25s;

}

.menu-link:hover{

    background:#13324D;

}

/* ===== Opción activa ===== */

.menu-link.active{

    background:#19E3A6;

    color:#0B1E2D;

    font-weight:700;

}

.menu-link svg{

    font-size:22px;

}