.ai-widget{

    background:linear-gradient(180deg,#162D46,#12263A);

    border:1px solid #214564;

    border-radius:18px;

    padding:22px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    height:100%;

}

.ai-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.ai-title{

    display:flex;

    align-items:center;

    gap:12px;

    color:white;

}

.ai-title h3{

    margin:0;

}

.ai-status{

    background:#173D34;

    color:#20c997;

    padding:6px 14px;

    border-radius:25px;

    font-size:12px;

    font-weight:bold;

}

.ai-body{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.ai-card{

    display:flex;

    gap:15px;

    background:#0F2234;

    padding:15px;

    border-radius:14px;

}

.brain{

    color:#20c997;

    font-size:30px!important;

}

.ai-card h4{

    margin:0;

    color:white;

    margin-bottom:6px;

}

.ai-card p{

    margin:0;

    color:#8FA8BE;

    line-height:1.5;

    font-size:14px;

}

.ai-button{

    margin-top:25px;

    border:none;

    background:#20c997;

    color:#08161F;

    padding:14px;

    border-radius:12px;

    font-weight:bold;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:8px;

    transition:.25s;

}

.ai-button:hover{

    transform:translateY(-3px);

    background:#32e6af;

}